.modal {
  background-color: #00000070;
  align-items: center;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.modal.open {
  display: flex;
}
.modal .modal-center {
  background-color: #fff;
  border-radius: 4px;
  width: 90%;
  max-width: 600px;
}
.modal .modal-content {
  padding: 10px;
  position: relative;
}
.icon-close {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  float: left;
}
.modal .close {
  background-color: transparent;
  border: none;
  color: #333;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.modal .modal-titulo {
  margin: 0 0 15px 0;
}
.modal .modal-conteudo {
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  padding: 15px;
}
.text-center {
  text-align: center;
}
