/* app css stylesheet */

.menu {
  list-style: none;
  color: #fff;
  background-color: blue;
  /* border-bottom: 0.1em solid #fff; */
  margin-bottom: 2em;
  padding: 12px 15px 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
