<style>
    * {
        box-sizing: border-box;
    }

    form {
        width: 100%;
    }

    html {
        padding: 50px 25px;
    }

    .textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background-color: #fff;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 92%;
    }

    .col-25 {
        float: left;
        width: 100%;
        padding: 20px 35px;
    }

    .col-25 hr {
        margin-top: 0;
        border: 0;
        border-top: 3px solid #eee;
    }

    .col-25 span {
        font-size: 45px;
        font-family: sans-serif;
        font-weight: bold;
    }

    .col-75 {
        float: left;
        width: 100%;
    }

    .col-75 hr {
        margin: auto;
    }

    .col-75 h1 {
        margin: auto;
    }

    .btnAtualizar {
        display: flex;
        align-self: flex-end;
    }

    table {
        /* display: flex; */
        width: 100%;
    }

    table tr {
        display: flex;
        justify-content: space-between;
    }

    thead {
        width: 100%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .sdTotal {
        margin-right: 22%;
        margin-left: 5%;
    }

    h2 {
        margin: auto;
        padding: 5px 7px;
    }

    strong {
        font-size: 135%
    }

    .table th {
        font-size: x-large;
    }

    .table td {
        font-size: large;
        padding: 8px 8px;
    }

    .table tbody tr td {
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #fcf8e3;
    }

    .investimento-conteudo {
        padding: 31px;
        margin-top: -4%;
    }

    @media (min-width: 992px) {
        .col-md-offset-2 {
            margin-left: 0%;
            /* display: flex; */
            width: 100%;
        }
    }

    @media screen and(min-width: 419px) {}

    @media screen and (max-width: 600px) {

        .col-25,
        .col-75,
        input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
</style>

<div class="container">
    <form>
        <div class="row">
            <div class="col-25">
                <span>Investimentos</span>
                <hr>
            </div>
            <div class="col-75">
                <div class="listInvestimento" id="subject" name="subject" placeholder="Write something"
                    style="height:auto">
                    <div class="list-group">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">
                                <div class="investimento-conteudo">

                                    <div ng-controller="investimentoCtrl">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr class="sdTotal">
                                                    <th>Nome</th>
                                                    <th>Objetivo</th>
                                                    <th>Saldo Total Disponível</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="investimento in lstInvestimentos">
                                                    <td>{{investimento.nome}}</td>
                                                    <td>{{investimento.objetivo}}</td>
                                                    <td>{{investimento.saldoTotalDisponivel}}</td>
                                                    <td ng-if="investimento.indicadorCarencia === 'S'">

                                                        <a class="btn btn-success" ng-disabled='true'
                                                            ng-click="atualizarInvestimentoPorId(investimento)"
                                                            href="#!/resgatar-investimento">
                                                            Resgatar</a>
                                                    </td>
                                                    <td ng-if="investimento.indicadorCarencia === 'N'">

                                                        <a class="btn btn-success"
                                                            ng-click="atualizarInvestimentoPorId(investimento)"
                                                            href="#!/resgatar-investimento">
                                                            Resgatar</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>